<div class="singlePage" id="page_login" data-title="登录">
    <form>
        <div class="form-group">
            <label for="userNameIpt">昵称</label>
            <input type="text" class="form-control" id="userNameIpt" placeholder="User Name" maxlength="10">
        </div>
        <div class="form-group">
            <label for="passwordIpt">密码</label>
            <input type="password" class="form-control" id="passwordIpt" placeholder="Password" maxlength="12">
        </div>
    </form>
    <button type="submit" id="loginBtn" class="btn btn-default">登陆</button>
</div>